dist: trusty
sudo: required

language: node_js
node_js:
  - "stable"
addons:
  sonarcloud:
    organization: "likithjoel-github"
    token:
      secure: "1beb1875ba73d127b45082bf0359ee407bee220b"
  sauce_connect:
    username: "likithjoel"
    access_key: "15bcd862-615a-4775-ba98-feeab15399cc"
    
script:
  - sonar-scanner
  

deploy:
- provider: s3
  #access_key_id: "irAlzOAmp1NTCXnaIaD+xQUCOA8W+gRuNxShM1y/NipDThTwxH4/Q96wO/Od8YYhQ5pYO1pWfEU0aTmKScL/TEExAtXO9lIFt+P1WCNEBK94+VTQrhkQN1mYzPFFhg3MgSKoqDeDOS20I2Fq5ySvXKHL1SvNJmSDOYlMAX1XstO40meUr0mqUPBtvkZZDX+j0106gLceKXP1jXdt7oP/T5sL3sTvBV2R/QWuHAPdsXCwWLQIf6VI+ne5OUb3ifw6GRk1sL0igD8001YJQzn1ewPY1a7wqK4V8SFJGbqHa12DOn70pQ9vyEsHbTeG3StgGUeO3mJ6h5IsK0SCgExv87r4rr73XyFmNby6PWTtTAB/B1+QkomDkQg8HiN07LPyI6tvoTmI1qBuIUmL+xmmpyAgM3fSzhsT5N46Wnkr3vazzlKgiQ0oVZOFrxYfF27Ew5kfRl055hhDdTTh7foZWPWcW6sPDXmr205vHMzezaNk2NkKkfx2AZc2b10EZq4a+3mZ1vkGFEdckZ5qfVm4oBG/vMJoVa90H8lpKlZt1ZWREzhFHDGFGD8RrospiRQWLobRozwoqczgKnE1WDr3GqFLEMp0AwdZgMUgoBLZxdy1Z/NOvMdxZyojXg0/fJbYg+nlHDnQomPoYh3U9peG/vzAhuSJAittrAM6BQpLGD4="
  #secret_access_key: "dEO1lAXPPQVfRZXWTQFQu48RGA77bGp8z3LtbSxX43cMmiZ6h5SN2dRyklm1guF5RAlX1G/kIPID3HBq9WQv12jgF82B6vgDDezIFSZ8jd5zXnRHMZfDyOm0r89Ow9szvwvV3T687ytyiMhSG7iBcSeNZQ4LtHRZdQvLYbBE+aChUIuMKp+VHrChFmZ80cXcMcwHroA261Gv7SCu8tgRUipD7eQNPIIjxZG/EXq0RW4fkWV9sefLD0Qp0pubQ3BY+Gispn093vSblws9phsWvKWk6IwLlkdMfyerb4kMmmgBH8YHzJADlXqvyM31rhtbDBBtpLs4uQD85sk8K3R+7rUK5NY8LsS3gtTL7hD24Dwm3+54febOP9DVS2jntwGHm1arfS6pr3THuyyaCaUSk/E0NLrUTi8OTDLpT2gyRDFJskFTxJYKK3W5C0rrW+/N50e+betBo+YNxwTjMNQDbLv+Oki43fS2EStwkdixaJgWDIL2FldExzH0Ugu8+K3/tYPfvQEKPTXiBchsQ7hVr3XoiG7C12Exua1hKbxh2FNpVkLcWr7J1uC7oWf1zjqX8qZ7F4wYLkInKJqc1936nEFPHRgyhq/1hPEFWGiI0Q/TyE2tJfrP4kx7A+weJ6nro+LNnKdt2N0XnPJEj+5V1qph6l9aJqL1JqVw2B7N+MQ="
  access_key_id: "GToIwjjoHykdJNYpcDEHdRl1YUMut08coqZMLbp+NiY5wTu6PiQz74zA/AFXF3RnoNmgMRDFeP/rvwkLyrAT6KVHFYdja9EPvZ2yv0T6mwsQJhjEa0Wx7WoB31AvKgLPp6ijrUqjMNQ5MDMVcAlg+xhsd34tfKy1/z9j7sfyPrYs9HFTEtr9Q1j7rpmr2ydTA1YSn+LCqvzwvyCe4AsSPOzhoSZB2NtQBPmj0KubjDxX/X2xi6BgGxvKqSh13apMkSkr0MQCkMVh9+POp5debX8dyPhPQRhbFG7zhR5eFV1wLmEGG5DD7I3NznEZvefBThRef0E01jPsaNpd0seWqIK0q0UXvmjUiHlpahI20FJjGdIg/TLeRj5SxpXYEdHmWWZe9+ptrkH3k2NZd1IqvybFOEEDlSJqQRJhDTdsAbe8/C4vIz3Rgznx537kbsi9ps3GnaZ86G0hWlox1hHW3iXtta7x/2qXELXGaISG4B8I6oL4jeZBrEVKU4cd77oQw7v6RUbikX1RtyzTsEz0iDk4fN3QlT83WES/NVHFCUGSUCZwcxNQfBfbtG1Sj0idpk5gW+MbNkUGjci29iPkIUKgk64aA5Sr4zb1w2bzkvPM5lZIdB5RRtv1fZNGSSPav4NqzvMlc4mDwumSVzfX+a/jWSbr/27Sfk2zTVHaVBY="
  secret_access_key: "dqZujkOvGrrD2+rayftWfeWX1ee55g13FSRrSD9bkNK3Ru8+6bgknWOx+kl9aPmhushuYfwQoSQTT6OsR3KT1PPrIqGbUjlD/PMmSqeQqOgAOIbpO5DjDYFpbZCJoVqs9ZOOWksa3rAbfvgHQKpJOGRM5afr+TusN4jINmVdsLOfNqcqoMzM9px0pxQhRUKf05GrCfUwjQeL5q5g1AE/o0J9T0SG8bEqBhELvhagbGzEYgpBWCcI8nEDVViKA2aA/cE9QY2+OKwWwjnAR4F4hDYTKvX1FVpiC4wDGahwBgQBaHGaOOwfRZH8nFQwkBgGhMqmfO9EmDGXCGEcIchRr/KGqpfDwgAKa6XdZGYp3sAROrvnSqNX8VMCVu+vFF0G4nXdMQ8LwnRoGPVs0blO5e7CRLUHSNtiX0btw5tNSel8/Hz+QItO3Aa/jBceCLnlW7SGSfSS2gB7LGzhoePfMCWmIGhEqhqAhvNBKsM8JvVS5BvNS3PmEcLKTSBY7zNnI4neukR+x4LrADHym5HopEYAicN2jGw3RHh+RluGc/Nm8AwSkak0WkzTqKqPrJtqLAdQ0+DH6IFjBbcws7rfuZipR6Ouz1GhSwd7HJ7rlOANR/qanhWGrF2u7m6NkTCZpsSHEVXJK5x1IRi3KJ/6leX1DnsZq+ekptvBTddpIFY="
  skip_cleanup: true
  on: &2
    repo: Likithjoel/test3
  bucket: likithjoel
  region: us-east-1
  
